:root {
    --primary-blue: #0000A4;
    --font-bold: 700;
    --primary-green: #00852C;
    --bg-green: #F2FBF5;
    --primary-white: #fff; 
    --bg-white: #fff;
}

body {
    display: grid;
    margin: 0;
}

@font-face {
    font-family: graphik;
    src: url(Graphik-Regular-Trial.otf);
}

@font-face {
    font-family: produkt;
    src: url(Louis_George_Cafe.ttf);
}

.mainWhite {
    color: var(--primary-white);
}

.mainBlue {
    color: var(--primary-blue);
}

.fontBold {
    font-weight: var(--font-bold);
}

.mainGreen {
    color: var(--primary-green);
}

.bgGreen {
    background-color: var(--bg-green);
}

.bgBlue {
    background-color: var(--primary-blue);
}

.bgWhite {
    background-color: var(--bg-white);
}

.flexbox {
    display: flex;
    gap: .3125rem;
}

.bigText {
    font-family: graphik;
}

.smallText {
    font-family: produkt;
}

.topHeader {
    justify-content: space-between;
    padding: .25rem 22rem;
    align-items: center;
}

#topHeaderLeft {
    gap: 1.5rem;
} 

#topHeaderRight {
    gap: .625rem;
    align-items: center;
}

#mainHeader {
    justify-content: space-between;
    padding: .75rem 22rem;
}

.logo {
    width: 5.125rem;
    height: auto;
}

.gap {
    gap: .5rem;
}

#zoekbar {
    border-radius: 3.125rem;
    border: none;
    align-items: center;
    padding: 0 1rem;
}

#inputBar {
    width: 29rem;
    height: 3rem;
    border-radius: 3.125rem;
    border: none;
}

#shophulp {
    align-items: center;
    border-radius: 3.125rem;
    padding: 0 1rem;
}

#shopText {
    font-size: 1.125rem;
    font-weight: 900;
}

#mainHeaderRight {
    align-items: center;
    width: 10.25rem;
    justify-content: space-between;
}

#bottomHeader {
    justify-content: space-between;
    padding: .25rem 22rem;
    align-items: center;
    height: 3.5rem;
    border-bottom: 0.125rem solid;
    border-color: #D8D8D8;
}

#bottomHeaderLeft {
    font-size: .875rem;
}

#bottomHeaderLeft div {
    align-items: center;
}

#bottomHeaderRight {
    align-items: center;
    gap: 1rem;
    font-size: .75rem;
}

#languageSelector {
    align-items: center;
}

#languageSelector img {
    width: 1.5rem;
    height: auto;
}